.hexagon-list {

  $item-hexagon-size: 50px;

  .hexagon-list-item {

    &:nth-child(2n) {
      margin-left: 0.5 * $item-hexagon-size - 3px;
      margin-top: -14px;
    }

    &:nth-child(2n+1) {
      margin-top: -14px;
    }

    .list-item-hexagon {
      width: $item-hexagon-size;
      height: $item-hexagon-size;
      font-size: 0.75em;
    }

    .list-item-text {
      margin-left: 8px;
    }

  }
}
