<div class="row">
  <div class="col education-title d-flex align-items-center">
    <div class="education-hexagon" data-region="education-hexagon"></div>
    <h2 class="mt-2">Opleiding</h2>
  </div>
</div>
<div data-region="education-list"></div>
