.hexagon {
  height: 100%;
  position: relative;
}

.hexagon-inner {
  clip-path: polygon(50% 4%, 90% 27%, 90% 73%, 50% 95%, 10% 73%, 10% 27%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0.3%;
}

.hexagon-outer {
  clip-path: polygon(50% 0%, 94% 25%, 94% 75%, 50% 100%, 6% 75%, 6% 25%);
  height: 100%;
  width: 100%;
}
