<div class="row">
  <div class="col skills-title d-flex align-items-center">
    <div class="skills-hexagon" data-region="skills-hexagon"></div>
    <h2 class="mt-2">Vaardigheden</h2>
  </div>
</div>
<div class="row mb-5">
  <div class="col col-md-6 col-lg-4 mt-4">
    <div class="skills-hexagon mx-auto" data-region="technical-hexagon"></div>
    <div class="skills-item-list mt-4 px-4" data-region="technical-skills-list"></div>
  </div>
  <div class="col col-md-6 col-lg-4 mt-4">
    <div class="skills-hexagon mx-auto" data-region="language-hexagon"></div>
    <div class="skills-item-list mt-4 px-4" data-region="language-skills-list"></div>
  </div>
  <div class="col col-md-6 col-lg-4 mt-4">
    <div class="skills-hexagon mx-auto" data-region="personal-hexagon"></div>
    <div class="skills-item-list mt-4 px-4" data-region="personal-skills-list"></div>
  </div>
</div>
