<div class="row">
  <div class="col experience-title d-flex align-items-center">
    <div class="experience-hexagon" data-region="experience-hexagon"></div>
    <h2 class="mt-2">Ervaring</h2>
  </div>
</div>
<div data-region="experience-list"></div>
