<div class="row d-lg-none">
  <div class="col-12 p-0 d-flex justify-content-end sidebar-switch">
    <div class="fas fa-fw fa-2x fa-bars"></div>
  </div>
</div>
<div class="row no-gutters pt-5 d-none d-lg-flex sidebar-row name-row">
  <div class="col-12 text-center">
    <h1><%= name %>, <%= title %></h1>
  </div>
  <div class="col-12 text-center mt-2">
    <h2><%= jobTitle %></h2>
  </div>
</div>

<div class="row no-gutters pt-5 d-none d-lg-flex sidebar-row summary-row">
  <div class="col">
    <p class="text-justify"><%= summary %></p>
  </div>
</div>

<div class="row no-gutters pt-5 d-none d-lg-flex sidebar-row contact-row">
  <div class="col">
    <h2 class="text-center mb-4">Contact</h2>
    <div data-region="contact"></div>
  </div>
</div>
