/* Bootstrap */
@import "~bootstrap/scss/bootstrap";

/* Bootstrap overrides */

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

/* Own set of variables and styling */
@import "./assets/styles/variables";
@import "assets/styles/base";

/* Components */
@import "components/ResumeLayout/resume-layout";
@import "components/MainContent/Experience/experience";
@import "components/MainContent/Education/education";
@import "components/MainContent/Skills/skills";
@import "components/Sidebar/sidebar";
@import "components/Hexagon/hexagon";
@import "components/ResumeItem/resume-item";
@import "components/HexagonList/hexagon-list";
