h2 {
  font-weight: bold;
  font-style: italic;
}

.hidden {
  display: none;
}

body {
  line-height: 1.2;
  color: $color-text;
  background: $color-gray-light;
}

@include media-breakpoint-down(lg) {
  .container {
    width: 100%;
    max-width: none;
  }
}
